@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
  --color-hover: rgba(32, 59, 232) !important;
  --transition: all 0.2s ease !important;
}

body .sidebar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 100 !important;
  width: 78px !important;
  height: 100% !important;
  background: #fff !important;
  padding: 8px 16px !important;
  transition: var(--transition) !important;
}

.sidebar.expand {
  width: 250px !important;
  transition: var(--transition) !important;
}

.nav-header {
  height: 60px !important;
  display: flex !important;
  align-items: center !important;
  position: relative !important;
}

.nav-header .logo {
  color: #000 !important;
  font-size: 23px !important;
  font-weight: 600 !important;
  opacity: 0 !important;
  transition: var(--transition) !important;
}

.sidebar.expand .nav-header .logo {
  opacity: 1 !important;
  transition: var(--transition) !important;
}

.nav-header .btn-menu {
  position: absolute !important;
  color: #000 !important;
  top: 50% !important;
  right: 0 !important;
  transform: translateY(-50%) !important;
  font-size: 23px !important;
  cursor: pointer !important;
  margin-right: 10px !important;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0 !important;
}

.nav-links {
  margin-top: 20px !important;
  height: 100% !important;
}

.nav-links li {
  position: relative !important;
  margin: 8px 0 !important;
  list-style: none !important;
}

.nav-links i {
  color: #000 !important;
  height: 50px !important;
  min-width: 50px !important;
  font-size: 23px !important;
  text-align: center !important;
  line-height: 50px !important;
}

.nav-links input {
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #000 !important;
  outline: none !important;
  height: 40px !important;
  width: 50% !important;
  border: none !important;
  border-radius: 12px !important;
  background: #e2e2e2 !important;
  padding: 0 !important;
}

.sidebar.expand .nav-links input {
  width: 100% !important;
  padding: 0 20px 0 40px !important;
}

.nav-links li a {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  border-radius: 12px !important;
  align-items: center !important;
  text-decoration: none !important;
  background: #fff !important;
}

.nav-links li:hover a {
  background: var(--color-hover) !important;
}

.nav-links li:hover i {
  color: #fff !important;
}

.nav-links li a .title {
  color: #000 !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  display: none !important;
  transition: var(--transition) !important;
}

.sidebar.expand .nav-links li a .title {
  display: block !important;
  transition: var(--transition) !important;
}

.nav-links li:hover a .title {
  color: #fff !important;
}

.nav-links li .tooltip {
  position: absolute !important;
  top: -20px !important;
  left: calc(100% + 15px) !important;
  z-index: 3 !important;
  background: #fff !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3) !important;
  padding: 6px 14px !important;
  font-size: 15px !important;
  white-space: nowrap !important;
  border-radius: 3px !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: 0s !important;
}

.sidebar li:hover .tooltip {
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: var(--transition) !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.sidebar.expand .tooltip {
  display: none !important;
}

.nav-links .search-btn {
  position: absolute !important;
  top: 50% !important;
  left: 0 !important;
  transform: translateY(-25px) !important;
  font-size: 23px !important;
  color: #000 !important;
  border-radius: 12px !important;
  background: #fff !important;
  transition: var(--transition) !important;
}

.sidebar.expand .nav-links .search-btn {
  background: transparent !important;
  transition: var(--transition) !important;
}

.sidebar.expand .nav-links li:hover .search-btn {
  color: #000 !important;
}

.nav-links .search-btn:hover {
  background: var(--color-hover) !important;
}

.theme-wrapper {
  position: fixed !important;
  bottom: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  height: 60px !important;
  width: 250px !important;
  left: 0 !important;
  padding: 8px 16px !important;
}

.theme-wrapper .theme-icon {
  font-size: 20px !important;
  color: #000 !important;
  display: none !important;
  transition: var(--transition) !important;
}
.sidebar.expand .theme-wrapper .theme-icon {
  display: block !important;
}

.theme-wrapper p {
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400 !important;
  display: none !important;
  transition: var(--transition) !important;
}

.sidebar.expand .theme-wrapper p {
  display: block !important;
}

.theme-wrapper .theme-btn {
  width: 40px !important;
  height: 20px !important;
  background: #e2e2e2 !important;
  border-radius: 30px !important;
  position: relative !important;
}

.theme-wrapper .theme-btn .theme-ball {
  position: absolute !important;
  width: 15px !important;
  height: 15px !important;
  background: #000 !important;
  border-radius: 50% !important;
  top: 2px !important;
  left: 3px !important;
}

.home {
  position: relative !important;
  top: 0 !important;
  left: 78px !important;
  width: calc(100% - 78px) !important;
  min-height: 100vh !important;
  background: #e2e2e2 !important;
  z-index: 6 !important;
  transition: var(--transition) !important;
}

.sidebar.expand ~ .home {
  left: 250px !important;
  width: calc(100% - 250px) !important;
  transition: var(--transition) !important;
}

.home p {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #000 !important;
  display: inline-block !important;
  margin: 20px !important;
  white-space: nowrap !important;
}
